@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Tajawal&display=swap');

body {
    width: 100%;
    margin: 0;
    background: #f5f5f5;
}

header {
    margin: 20px auto;
}

header .header-logo {
    width: 200px;
    margin: 0 auto;
}
header .header-logo img {
    width: 100%;
}

header h1 {
    text-align: center;
    color: #726a95;
    font-family: 'MuseoModerno', cursive;
}

header ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

header ul li {
    display: inline-block;
    background-color: #709fb0;
    border-radius: 10px;
}

header ul li a {
    color: #fff;
    line-height: 30px;
    padding: 50px 30px;
    text-decoration: none;
}

header ul li:hover {
    background-color: #a0c1b8;
}

main {
    height: 100%;
    clear: both;
    font-family: 'Tajawal', sans-serif;
}

footer {
}

footer p {
    line-height: 40px;
    background: #393e46;
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'Bree Serif', serif;

}

#SalesReport article {
    /* width: 19%; */
    /* display: inline-block; */
    /* padding-left: 10px; */
}

#SalesReport article h2 {
    text-align: center;
}

#SalesReport article table {
    display: table;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;

}

#SalesReport article thead {
    font-weight: 700;
    vertical-align: bottom;
}

#SalesReport article tbody tr:nth-child(odd) {
    background: #eae7d9;
}
#SalesReport article tbody tr:nth-child(even) {
    background: #d2c6b2;
}

#SalesReport article tfoot {
    font-weight: 700;
    background: #937d14;
    color: #fff;
}


#SalesReport article table td:first-child {
    text-align: left;
    width: 100px;
    padding-left: 10px;
    font-weight: 700;
}

#SalesReport article table td:last-child {
    font-weight: 700;
}
#SalesReport article table thead td{
    border: none;
    padding: 20px 20px;
}

#SalesReport article table td {
    line-height: 35px;
    /* padding-left: 10px; */
    border: 1px solid #000;
    border-collapse: collapse;

}

#SalesReport article ul li:nth-child(odd) {
    background-color: #a0c1b8;
}

#SalesReport article ul li:nth-child(even) {
    background-color: #f4ebc1;
}

#SalesReport article ul li:last-child {
    font-weight: 700;
    background-color: #709fb0;
}

#ClassInformation .container p{
    margin: 0;
    line-height: 50px;
}

#ClassInformation .container div p:first-child {
    color: #fff;
    background: #07031a;
}

#ClassInformation .container div p:last-child {
    color: #fff;
    background: #4f8a8b;
}

#ClassInformation > div {
    float: left;
    width: 20%;
    
  }
.container {
    padding: 10px;
    text-align: center;
}
#ClassInformation:after {
    content: "";
    display: table;
    clear: both;
    padding-right: 10px;
  }

#ClassInformation p img {
    width: 20px;
}


.image-slider{
    width: 200px;
    height: 200px;
    position: relative;
    left: 50%;
    top: 1em;
    margin-left: -100px;
    overflow: hidden;
    background: #292929;
    border: 10px solid #fff;
}
.image-slider article{
    position: absolute;
    left: 200px;
    color: #e3e3e3;
    width: 200px;
    height: 200px;
    text-align: center;
    font: 2em/1em sans-serif;
    /* padding-top: 80px; */
  }

  .image-slider img {
      width: 200px;
      height: 200px;
  }

  .image-slider article:nth-of-type(1){
    animation: slideIn 50s linear 0s infinite;
  }
  .image-slider article:nth-of-type(2){
    animation: slideIn 50s linear 5s infinite;
  }
  .image-slider article:nth-of-type(3){
    animation: slideIn 50s linear 10s infinite;
  }
  .image-slider article:nth-of-type(4){
    animation: slideIn 50s linear 15s infinite;
  }
  .image-slider article:nth-of-type(5){
    animation: slideIn 50s linear 20s infinite;
  }
  .image-slider article:nth-of-type(6){
    animation: slideIn 50s linear 25s infinite;
  }
  .image-slider article:nth-of-type(7){
    animation: slideIn 50s linear 30s infinite;
  }
  .image-slider article:nth-of-type(8){
    animation: slideIn 50s linear 35s infinite;
  }
  .image-slider article:nth-of-type(9){
    animation: slideIn 50s linear 40s infinite;
  }
  .image-slider article:nth-of-type(10){
    animation: slideIn 50s linear 45s infinite;
  }
  
  @keyframes slideIn{
    0% {left: 200px;}
    1% {left: 0;}
    10% {left: 0;}
    11% {left: -200px;}
    100%{left: -200px;}
  }
  
  
fieldset {
  background-color:#bac964;
  max-width:500px;
  padding:16px;	
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}

legend {
  margin-bottom:0px;
  margin-left:16px;
  color: #436f8a;
}

fieldset div {
    margin-bottom: 10px;
}

fieldset .input-class {
    display: block;
    height: 25px;
    border: 1px solid #f7fbe1;
    width: 95%;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
}

fieldset .btn {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #436f8a;
    background: #436f8a;
    color: #fff;
    cursor: pointer;
}